.app.light{
  background: #ffffff;
  color:#000;
}

.app.dark{
  background: black;
  color:#fff
}

.card{
  padding:15px;
  margin: 10px;
  border-radius: 8px;
}
.card.light{
  background: #f4f4f4;
}
.card.dark{
  background: #333;
}

button{
  margin-right: 5px;
}

